In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}
df = pd.DataFrame(data)

print(df)

# First row
print(f"\n")
print(f"The first row of df")  # Entire row
print(df.iloc[0])

# First row, second column
print(f"\n")
print(f"The first row, second column of df")  
print(df.iloc[0, 1])  # Outputs: 24

# First 2 rows
print(f"\n")
print(f"The first two rows of df")
print(df.iloc[0:2])

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22


The first row of df
Name    Alice
Age        24
Name: 0, dtype: object


The first row, second column of df
24


The first two rows of df
    Name  Age
0  Alice   24
1    Bob   27

In [12]:
import scrapy
class QuotesSpider(scrapy.Spider):
    name = "quotes"
    start_urls = ['http://quotes.toscrape.com/tag/humor/',]
    def parse(self, response):
        for quote in response.css('div.quote'):
            yield {'quote': quote.css('span.text::text').get()}

In [14]:
# humor = QuoteSpider()
# humor

In [11]:
# from selenium import webdriver
# driver = webdriver.Firefox()
# driver.get("http://quotes.toscrape.com")

In [16]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tables = pd.read_html(URL)
df = tables[0]
print(df)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                            Handelsbanken
96    97                 Industrial Bank of Korea
97    98                                      DNB
98    99                      Qatar National Bank
99   100                                 VTB Bank

    Total assets (2023) (US$ billion)
0                             6303.44
1                             5623.12
2                             5400.28
3                             4578.28
4                             3875.39
..                                ...
95                             351.79
96                             345.81
97                             339.21
98                             338.14
99                             326.85

[100 rows x 3 columns]

In [18]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
tables = pd.read_html(URL)
df = tables[2] # the required table will have index 2
print(df)

    Country/Territory IMF[1][12]            World Bank[13]             \
    Country/Territory   Forecast       Year       Estimate       Year
0               World  115494312       2025      105435540       2023
1       United States   30338000       2025       27360935       2023
2               China   19535000  [n 1]2025       17794782  [n 3]2023
3             Germany    4922000       2025        4456081       2023
4               Japan    4390000       2025        4212945       2023
..                ...        ...        ...            ...        ...
205          Kiribati        311       2024            279       2023
206             Palau        308       2024            263       2023
207  Marshall Islands        305       2024            284       2023
208             Nauru        161       2024            154       2023
209            Tuvalu         66       2024             62       2023

    United Nations[14]
              Estimate       Year
0            100834796       2022
1             25744100       2022
2             17963170  [n 1]2022
3              4076923       2022
4              4232173       2022
..                 ...        ...
205                223       2022
206                225       2022
207                279       2022
208                147       2022
209                 59       2022

[210 rows x 7 columns]